@page "/products"

@inject IProductService service
@inject NavigationManager navigationManager

@attribute [Authorize(Roles = StaticDetails.Role_Admin)]

<div class="container">

    <div class="card mt-2 p-2">

        <AuthorizeView Roles="@StaticDetails.Role_Admin">
            <div class="float-right mt-2 mb-2">
                <a class="btn btn-outline-primary" href="product/create">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Add Product
                </a>
            </div>
        </AuthorizeView>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product ID
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        Price
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            @if (Models != null)
            {
                <tbody>
                    @foreach (var item in Models)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                <img src="images/@item.Image" style="width:50px; height:50px;"/>
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @if (item.Company != null)
                                {
                                    <a href="/companies/details/@item.Id">
                                        @item.Company.Name / @item.Company.Country
                                    </a>
                                }
                                else
                                {
                                    <p>
                                        No company recorded 
                                    </p>
                                }
                            </td>
                            <td>
                                @string.Format("{0:C}", item.Price)
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" href="/products/details/@item.Id">
                                    <span class="oi oi-list"></span>
                                    Details
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <tbody>
                    <tr>
                        <td>
                            No data.
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

</div>

@code {
    public IList<ProductViewModel> Models;

    protected override async Task OnInitializedAsync()
    {
        Models = await service.GetAllAsync(EndpointsService.ProductEndpoint);
    }
}
